* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
}

.fa-github {
  color: #000;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(130%);
}
